*{
    margin: 0;
    padding: 0;
}
.cont{
    background: white;
}
  
.container{
     
      margin: 20px auto;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      background: antiquewhite;
      border-radius: 25px;
      box-shadow: 0px 5px 15px 0px rgba(158, 76, 0, 0.804);
  }
  .contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    background: #fff;
    color: rgb(239, 183, 111);
    
  }
#contact-box{
    display: flex;
    
    
}

   

.contact-right{
  
    flex-basis: 40%;
    padding: 40px 40px;
    background: rgb(239, 183, 111);
    color: #fff;
}
h1{
    margin-bottom: 10px;
    color: rgb(239, 183, 111)
}
.container p{
    margin-bottom: 10px;
    color: rgb(239, 183, 111);
}
.container h1{
    color: rgb(198, 115, 7);
}
#btn{
   background: rgb(254, 217, 168);
    width: 100px;
    border: none;
    outline: none;
    color:white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(158, 76, 0, 0.804);
}
.contact-left h3{
    color: rgb(239, 183, 111);
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}





.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 40%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
   
}